In [16]:
import pyfits
import numpy as np

In [52]:
f=open("/home/lkit/wslap/data/A370/fiducial/mass_map_A370.dat")
data=np.asarray([map(float,line.split()) for line in f])
f.close()

# tmp=[]
# for i in data:
#     if i[2]<0:
#         tmp.append(i[2])

# print len(tmp)


f=open("/home/lkit/mass_map.dat",'w')
for i in range(1400*1400*3):
    if data[i,2]>=0:
        f.write("\t\t%d\t\t%d\t\t%.8f\t\t%d\n" %(int(data[i,0]),int(data[i,1]),data[i,2],int(data[i,3])))
    else:
        f.write("\t\t%d\t\t%d\t\t%.8f\t\t%d\n" %(int(data[i,0]),int(data[i,1]),0.0,int(data[i,3])))

f.close()    
print 'done'

done

In [51]:
print abs(-3)

3

In [45]:
import random
from random import randrange as rand

bang=['A101','A102','A103','A104','A105','A106','A107','A108','A109','A110']
name1=['mary','peter','tom','john','tomas']
name2=['amy','bob','candy','carins','daniel']
place=['wan chai','central','mong kok','yau ma tei','jordan']

f=open("/home/lkit/tmp/sql",'w')
f.write("create table tb (bang varchar(10), uria int,tuki int);\n")
f.write("create table tb1 (bang varchar(10), nama varchar(10),tosi int);\n")
f.write("create table tb2 (bang varchar(10), nama varchar(10),tosi int);\n")
f.write("create table tb3 (bang varchar(10), Ken varchar(10));\n")

for i in range(10):
    f.write("insert into tb values('%s',%d,%d);\n" %(random.choice(bang[:7]),rand(30,250),rand(2,9)))
for i in range(5):
    f.write("insert into tb1 values('%s','%s',%d);\n" %(bang[i],name1[i],rand(20,50)))
for i in range(5):
    f.write("insert into tb2 values('%s','%s',%d);\n" %(bang[i+5],name2[i],rand(20,50)))
for i in range(5):
    f.write("insert into tb3 values('%s','%s');\n" %(bang[i],place[i]))
f.write("select * from tb;\n")
f.write("select * from tb1;\n")
f.write("select * from tb2;\n")
f.write("select * from tb3;\n")

f.close()

In [47]:
import os

print os.getcwd()

/home/lkit/Programming/Python/ipynb